.custom-toolbar {
  display: flex;
  justify-content: flex;
  align-items: center;
}

.custom-toolbar mat-icon {
  margin-top: 10px;
  margin-left: 10px;
  width: 60px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: color 0.3s;
  cursor: pointer;
  background-color: transparent;
}

.custom-toolbar mat-icon:hover {
  color: #a781e8;

}

* {
  background-color: #ffffff;
}

.main-content {
  background-color: #ffffff;
  color: black;
  flex-grow: 1;
}


.sidenav {
  width: 200px;
  transition: width 0.3s ease;
  background-color: #fffefe;
  color: rgb(0, 0, 0);
}

.sidenav-item {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s ease;
  background-color: transparent;
  cursor: pointer;
  color: #7b1fa2;
  font-family: 'Salsa', cursive;
  padding: 10%;
}

.sidenav-item:hover {
  background-color: #ccc;
}

.menu-icon {
  background-color: transparent;
}
mat-icon{
  background-color: transparent;
}
.toolbar-title{
  background-color: transparent;
  font-family: "Exo 2", sans-serif;
  font-size: 30px;
  margin-bottom: 0.7%;

}

